@font-face {
    font-family: 'FivoSans';
    /* font-weight: 400; */
    src: url('/fonts/FivoSans/FivoSans-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'FivoSans';
    /* font-weight: 500; */
    src: url('/fonts/FivoSans/FivoSans-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'FivoSans';
    /* font-weight: 600; */
    src: url('/fonts/FivoSans/FivoSans-Regular.woff2') format('woff2');
}

html,
body,
.body {
    padding: 0;
    margin: 0;
    font-family: FivoSans !important;
    min-height: 100vh;
    max-width: 100vw;
    scroll-behavior: smooth;

}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

main {
    min-height: 100vh;
}

.hide {
    display: none !important;
}

button,
input {
    border-radius: 0 !important;
}
